/* Formatting the icons in the top ribbon */
.iconBefore {
    font-size: 0.5rem;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
}
.iconAfter {
    font-size: 0.5rem;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}

#ribbon .list-group-item {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem; 
    background-color:rgba(0, 0, 0, 0);
}
#Project-TOC {
    position: sticky;
    top: 7.5rem;
    min-width: 7rem;
    max-height: 70vh;
    margin-bottom: 10px;
    border-radius: 0.5rem;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
#Project-TOC .list-group-item {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem; 
}
#Project-TOC > .active {
    background: var(--amazon-prime-student-blue);
    border: none;
}
/* header stuff */
@media (min-width: 768px) {
    .section-header {
        background-color: rgba(0, 0, 0, 0);
        padding: 0.25rem;
    }
}
@media (max-width: 767.98px) {
    .section-header {
        background-color: white;
        position: sticky;
        padding: 0.25rem;
        top: 4rem;
    }
}

#skills {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem; 
}
ul { 
    margin:0; 
}
