.list-group-item {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem; 
    position: relative;
}
.iconBefore {
    font-size: 0.5rem;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
}
.iconAfter {
    font-size: 0.5rem;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}
header > div{
   text-align: center;
}
h2.sticky-top {
    padding: 0.25rem;
}
#skills {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem; 
}

ul { 
    margin:0; 
  }
#Project-TOC {
    list-style-type: none;
}
li > a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem; 
    color: black;
    text-decoration: none;
}
li > a:hover {
    color: var(--salmon);
}