/* Formatting the icons in the top ribbon */
.iconBefore {
    font-size: 0.5rem;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
}
.iconAfter {
    font-size: 0.5rem;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}

#ribbon .list-group-item {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem; 
}
#Project-TOC .list-group-item {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem; 
}

header > div {
   text-align: center;
}
h2.sticky-top {
    background: white;
    padding: 0.25rem;
    top: 4rem;
}
#skills {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem; 
}

ul { 
    margin:0; 
  }

#Project-TOC {
    position: sticky;
    top: 4rem;
}
#Project-TOC > .active {
    background: var(--salmon);
    border: none;
}

.list-group{
    max-height: 80vh;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
/* li > a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem; 
    color: black;
    text-decoration: none;
}
li > a:hover {
    color: var(--salmon);
} */
